header {

    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 2;
    padding-left: 250px;
    padding-right: 250px;
    top: 0; /* Đảm bảo header nằm ở đầu trang */
    left: 0; /* Đảm bảo header không tràn ra ngoài về phía bên trái */
    right: 0; /* Đảm bảo header không tràn ra ngoài về phía bên phải */
    box-sizing: border-box;
    }

    header .container {
        display: flex;
        justify-content: space-between;
    }

    header .container .logo{
        padding: 15px;
        padding-top: 20px;   
        height: 30px;
    }

    header .container .logo img{
        height: 100%;
        padding-bottom: 30px;
    }

    header nav ul{
        list-style-type: none;
        margin:0px;
    }

    header nav ul li{
        display: inline-block;
        margin:0px;
    }

    header nav ul li  a{
        margin:0px;
        display: inline-block;
        height: 75px;
        line-height:75px;
        padding: 0 15px;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 16px;
        color: #fff;
        transition: 0.3s;
    }

    header nav ul li a:hover {
        background-color: #e43a47;
    }
    .colum-layout {
        color: #f0f0f0;
        display: block;
        font-size: 25px; /* Thêm kích cỡ chữ */
        text-align: justify;
      }
      .colum-layout1 {
        color: #f0f0f0;
        display: block;
        font-size: 20px; /* Thêm kích cỡ chữ */
        text-align: justify;
      }
    .box1 {
        /* width: 100px;Chiều rộng của hộp */
        margin-top: 0px;
        height: 850px; /* Chiều cao của hộp */
        color: rgb(0, 0, 0);
        display: flex; /* Hiển thị các hộp cạnh nhau */
        background-color: rgba(255, 255, 255, 0);
        background-image: linear-gradient(to right, #000000, transparent),
          url(./images/all1.jpg);
        box-sizing: border-box;
        background-size: cover;
        overflow: hidden; /* Ẩn bất kỳ nội dung nào vượt ra khỏi khung */
        background-position: bottom center;
        padding-left: 100px;
        /*opacity: 0.9;*/
    }

    .box2 {
        width: 400px;
        display: flex;
        align-items: center;
      }
      
      .chaos {
        color: #f0f0f0;
        padding: 20px;
        text-align: center;
        margin: 5px;
      }
      
      .profile-picture {
        width: 100%;
        margin-top: 0;
        background-size: cover;
      }
      
      .profile-name {
        font-size: 22px;
        color: #333;
        margin: 20px 0 5px;
      }
      
      .profile-role {
        font-size: 16px;
        color: #777;
      }

      .snip1584 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 300px;
        background-color: #fff;
        border: #777;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        position: relative;
        color: #ffffff;
        margin: auto;
      }

     .snip1584 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1584:before {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1584 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1584 figcaption {
  position: absolute;
  top: 20px; /* Đặt vị trí từ trên xuống 10px */
  left: 10px; /* Đặt vị trí từ trái sang 10px */
  z-index: 1;
  align-items: flex-start; /* Căn lề trái */
  justify-content: flex-start; /* Căn lề trên */
}

.snip1584 h3,
.snip1584 h5,
.snip1584 h6 {
  /* Thêm h6 */
  margin: 10px;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1584 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}

.snip1584 h5 {
  font-weight: normal;
  background-color: #ae895d;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1584 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1584:hover h3,
.snip1584.hover h3,
.snip1584:hover h5,
.snip1584.hover h5,
.snip1584:hover h6, /* Thêm h6 */
.snip1584.hover h6 {
  /* Thêm h6 */
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.snip1584:hover h3,
.snip1584.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}


      .profile-picture1 {
        width: 300px;
        height: 220px;
        background-image: url("./images/LamDucThinh.jpg");
        background-position: bottom center;
        background-size: 350px;
      }
      .profile-picture0 {
        width: 300px;
        height: 220px;
        background-image: url("./images/VuDieuLinh.jpg");
        background-position: bottom center;
        background-size: 350px;
      }
      .profile-picture2 {
        width: 300px;
        height: 220px;
        background-image: url("./images/BuiPhuongLinh.jpg");
        background-position: bottom center;
        background-size: 360px;
      }
      
      .profile-picture3 {
        width: 300px;
        height: 220px;
        background-image: url("./images/TranHauThanhDat.jpg");
        background-position: bottom center;
        background-size: 360px;
      }